.swatch{    
    width: var(--swatch-size);
    height: var(--swatch-size);

    --border-col: #ddd;

    border: 3px solid var(--border-col);
    border-radius: 3px;
    
    touch-action: none;
    user-select: none;

    transition:transform 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    
    transform: scale(1);
}

.swatch.eraser{
    border-style: dashed;

    --stripe-width: 4px;
    
    background-image: 
        repeating-linear-gradient(
            45deg, 
            transparent 0 var(--stripe-width), 
            #ddd var(--stripe-width) calc(2* var(--stripe-width)));
}

.swatch.selected{
    --border-col: #999;  
}

.swatch:active{
    transform: scale(1.25);
    transition-duration: 50ms;
}