.swatch{    
    width: var(--swatch-size);
    height: var(--swatch-size);

    /* --border-col: #ddd; */
    --border-col: #999;
    --border-width: 1px;
    --transition-dur: 50ms;

    border: var(--border-width) solid var(--border-col);
    border-radius: 3px;
    
    touch-action: none;
    user-select: none;

    transition:transform var(--transition-dur) cubic-bezier(0.075, 0.82, 0.165, 1);
    
    transform: scale(1);
    position: relative;
}

.swatch.eraser{
    border-style: dashed;

    --stripe-width: 4px;
    
    background-image: 
        repeating-linear-gradient(
            45deg, 
            transparent 0 var(--stripe-width), 
            #ddd var(--stripe-width) calc(2* var(--stripe-width)));
}

.swatch.selected::after{

    --underline-gap: 2px;
    --underline-thickness: 3px;
    --underline-overhang: -4px;

    position: absolute;
    width: calc(var(--swatch-size) + 2 * var(--underline-overhang));
    height: var(--underline-thickness);
    background-color: #999;
    content: "";
    box-sizing: border-box;
    left: calc(-1 * var(--border-width) - var(--underline-overhang));
    top: calc(var(--swatch-size) - var(--border-width) + var(--underline-gap));
    border-radius: calc(var(--underline-thickness) * 0.5);
}

.swatch:active{
    transform: scale(1.05);    
}