.swatch{    
    width: var(--swatch-size);
    height: var(--swatch-size);

    border: 3px solid #999;
    border-radius: 3px;

    touch-action: none;
    user-select: none;
}

.swatch.selected{
    border-color: #ddd;
}