.loading-message{
    --transition-dur: 0.5s;
    --transition-del: 0.75s;
    /* --transition-del: 1s; */

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;

    row-gap: 0.5em;

    font-size: 1rem;
    


    /* copy canvas border */
    border: 1px solid #8888;
    border-radius: 3px;

    

    background-color: #fafafa;


    color: #888;
    z-index: 1000;
    
    transition: opacity var(--transition-dur) cubic-bezier(0.075, 0.82, 0.165, 1) var(--transition-del);

    opacity: 0;
    
    pointer-events: none;
    touch-action: none;
}

.loading-message.loading{
    opacity: 1;    
}

.loading-message svg{
    --transition-del: 0.25s;
    --transition-dur: 0.25s;
    visibility: visible;
    opacity: 1;
    transition: opacity var(--transition-dur) cubic-bezier(0.075, 0.82, 0.165, 1) var(--transition-del), visibility 0s linear calc(var(--transition-dur) + var(--transition-del)), width var(--transition-dur) cubic-bezier(0.6, -0.28, 0.735, 0.045) 0s;     

    width: 36%;
}


.loading-message:not(.loading) svg{
    opacity: 0;
    visibility: hidden;    
    width: 0%;

}
