*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{    
    width: fit-content;

    
    max-width: 300px;

    display: grid;
    grid-template-columns: 1fr;

    row-gap: 10px;
}
