:root{
    font-size: 12px;
    --main-text-color: #444;
    --secondary-text-color: #666;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{    
    width: fit-content;

    
    max-width: 300px;

    display: grid;
    grid-template-columns: 1fr;

    row-gap: 10px;
    color: var(--main-text-color);   

    
}

label{
    font-size: 1rem;
    color: var(--secondary-text-color);
}

#size-slider+label{
    text-align: center;
}